
@model IEnumerable<NblClassLibrary.Models.Order>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";

}

<!-- Info boxes -->
<section class="content">
    
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"> &#2547;</span>
                <div class="info-box-content">
                    @Ajax.ActionLink("TOTAL ORDERS", "All",
                        new AjaxOptions
                        {
                            HttpMethod = "GET", // HttpMethod to use, GET or POST
                            UpdateTargetId = "BranchDivOrders", // ID of the HTML element to update
                            InsertionMode = InsertionMode.Replace, // Replace the existing contents
                            LoadingElementId = "divloading",
                            OnBegin = "ClearResults('All Orders')"

                        })


                    <span class="info-box-number">

                        @Model.ToList().Count


                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"> &#2547;</span>
                <div class="info-box-content">
                    <span class="info-box-text">ORDERS ( @Ajax.ActionLink(DateTime.Now.ToString("MMMM"), "CurrentMonthsOrder",
                                                             new AjaxOptions
                                                             {
                                                                 HttpMethod = "GET", // HttpMethod to use, GET or POST
                                                                 UpdateTargetId = "BranchDivOrders", // ID of the HTML element to update
                                                                 InsertionMode = InsertionMode.Replace, // Replace the existing contents
                                                                 LoadingElementId = "divloading",
                                                                 OnBegin = "ClearResults('Orders of " + DateTime.Now.ToString("MMMM") + "')"

                                                             }))</span>
                    <span class="info-box-number">
                        @Model.ToList().FindAll(n => n.OrderDate.Month.Equals(DateTime.Now.Month)).Count

                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua">&#2547;</span>
                <div class="info-box-content">
                    <span class="info-box-text">ORDERS (Yesterday)</span>
                    <span class="info-box-number">

                        @Model.ToList().FindAll(n => n.OrderDate.Month.Equals(DateTime.Now.Month) && n.OrderDate.Day.Equals(DateTime.Now.Date.Day - 1)).Count

                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua">&#2547;</span>
                <div class="info-box-content">
                    <span class="info-box-text">ORDERS (Today)</span>
                    <span class="info-box-number">
                        @Model.ToList().FindAll(n => n.OrderDate.Month.Equals(DateTime.Now.Month) && n.OrderDate.Day.Equals(DateTime.Now.Date.Day)).Count
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>
    <div class="text-center text-green" style="font-size: 20px">
        <label id="branchName"></label>
    </div>
    <div id="divloading" style="display: none;" class="text-center">
        <img src="~/Images/loading.gif"/>
    </div>
    <div id="BranchDivOrders">

    </div>

</section>

<script>
    function ClearResults(msg) {
        $("#BranchDivOrders").empty();
        $("#branchName").html(msg);
    }
</script>