@model IEnumerable<NBL.Models.TransferIssue>
@using NBL.BLL
@{
    ViewBag.Title = "Pending Transfer Issue";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";

    BranchManager branchManager = new BranchManager();
}

<section class="content" style="margin:0;padding:0">
    <h3 class="text-center text-green">Deliverable Issued List</h3>
    <div class="col-md-8 col-md-offset-2">
        <div id="accordion">
            @foreach (var issue in Model.OrderByDescending(n => n.TransferIssueId))
            {


                <h3>@issue.TransferIssueRef</h3>
                <div class="row" style="border: 1px dotted;background-color: peachpuff">
                    <div class="col-md-3">
                        <label>From Branch :</label>  @branchManager.GetBranchById(issue.FromBranchId).BranchName
                    </div>
                    <div class="col-md-3">
                        <label>To Branch :</label> @branchManager.GetBranchById(issue.ToBranchId).BranchName
                    </div>
                    <div class="col-md-4 text-right">
                        <label>Issue Date: </label>  @issue.ApproveDateTime
                    </div>

                    <div class="col-md-2 text-right">

                        @Html.ActionLink("Details", "Delivery", "Delivery", new { area = "Factory", id = issue.TransferIssueId }, new { @class = "btn btn-info" })
                    </div>

                </div>
            }
        </div>
    </div>
</section>

