
@{
    ViewBag.Title = "Journal Voucher";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
    var date = DateTime.Now.Date.ToString("dd-MMMM-yyyy");
  
}

<section class="content">
    <h3 class="text-center text-green headingStyle">Journal Voucher</h3>
    <div id="message" style="display:none;font-weight:bold;font-size:20px" class="text-center">
    </div>
    <hr />
    @using (Html.BeginForm("JournalVoucher", "Voucher", FormMethod.Post, new { id = "journalVoucherForm" }))
    {
        <div class="form-horizontal">

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">

                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="PurposeName" class="control-label col-md-4">Account Name</label>
                                        <div class="col-md-8">
                                            <input type="text" id="PurposeName" name="PurposeName" placeholder="Purpose Name" class="form-control" autofocus/>
                                            <input  type="hidden" id="SubSubSubAccountId"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="PurposeCode" class="control-label col-md-5">Account Code</label>
                                        <div class="col-md-7">
                                            <input type="text" id="PurposeCode" name="PurposeCode" placeholder="PurposeCode" class="form-control" readonly />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Remarks</label>
                                <div class="col-md-10">
                                    <textarea class="form-control" id="Remarks" name="Remarks" style="resize:none;" rows="2" placeholder="Remarks"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                         <div class="row">
                             <div class="col-md-6">
                                 <div class="form-group">
                                     <label class="control-label col-md-5">Transaction Type</label>
                                     <div class="col-md-7">
                                         <select id="TransactionType" name="TransactionType" class="form-control">
                                             <option value="Dr">Dr</option>
                                             <option value="Cr">Cr</option>
                                         </select>
                                     </div>
                                 </div>
                             </div>
                             <div class="col-md-6">
                                 <div class="form-group">
                                     <label for="PurposeCode" class="control-label col-md-4">Amount (&#2547;)</label>
                                     <div class="col-md-8">
                                         <input type="number" id="Amount" name="Amount" style="text-align:right" placeholder="Amount" class="form-control" min="0" />
                                     </div>
                                 </div>
                             </div>

                         </div>
                          


                            <div class="form-group">
                                <div class="col-md-9 col-md-offset-3">
                                    <div class="row">
                                        <div class="col-md-6">

                                        </div>
                                        <div class="col-md-6 text-right">

                                            <input type="button" value="Add to List" onclick="AddJournalInfoToList(this)" class="btn btn-info" id="addInfoButton" />
                                        </div>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

              
                </div>
            </div>
          <div class="row" style="margin: 0; padding: 0;">
              @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "updateJournalInfoForm" }))
                {
                  <input type="hidden" id="JournalInfoToRemove" name="JournalInfoToRemove" />
                  <input type="hidden" id="SummationOfDebitAndCredit" name="SummationOfDebitAndCredit"/>

                      <table class="table table-bordered" style="margin: 0; padding: 0;">

                          <thead>

                              <tr>
                                  <th style="border: .5px solid gray;" class="text-center">Account Name</th>
                                  <th style="border: .5px solid gray; width: 10%" class="text-center">Code</th>
                                  <th style="border: 1px solid gray;" class="text-center"> Dr/Cr</th>
                                  <th style="border: 1px solid gray;" class="text-center">Amount(&#2547;)</th>
                                  <th style="border: 1px solid gray;" class="text-center">Action</th>
                              </tr>
                          </thead>
                          <tbody id="JournalInfo"></tbody>
                      </table>
              }
          </div><hr />
            <div class="row">

               <div class="col-md-6">
                   
               </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Date" class="control-label col-md-3">Date</label>
                        <div class="col-md-9">

                            <input type="text" id="Date" name="Date" value="@date" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-9 col-md-offset-3">
                            <div class="row">
                                <div class="col-md-9">

                                </div>
                                <div class="col-md-3">
                                    @Html.ActionLink("Cancel", "Home", "Home", new { area = "Accounts" }, new { @class = "btn btn-danger" })
                                    <input type="button" value="Save" id="submitButton" onclick="SaveJournalVoucher(this)" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
</section>
@*Sub Sub Sub Account list Auto Complete*@
<script type="text/javascript">
    $(function () {
        $("#PurposeName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Common/SubSubSubAccountNameAutoComplete/',
                    data: "{ 'prefix': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        response($.map(data,
                            function (item) {
                                return item;
                            }));
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (e, i) {
                $("#SubSubSubAccountId").val(i.item.val);
                //alert(i.item.val);

                $("#PurposeCode").val('');
                var sssAId = i.item.val;
                var json = { subSubSubAccountId: sssAId };

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetSubSubSubAccountById", "Common", new { area = "" })',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {

                        var code = data.SubSubSubAccountCode;
                        $("#PurposeCode").val(code);
                    }
                });
            },
            minLength: 1
        });
    });
</script>



@*Add Journal info to lsit (Ajax form Submit)*@
<script>
    function AddJournalInfoToList(btnClicked) {

        if ($("#PurposeName").val() == "") {
            alert("Please enter purpose name..");
        }
        else if ($("#Amount").val() == "") {
            alert("Please Enter amount");
        }
        else {
            var $form = $(btnClicked).parents('form');
            $.ajax({
                type: "POST",
                url: '@Url.Action("JournalVoucher")',
                data: $form.serialize(),
                error: function (xhr, status, error) {
                    //do something about the error
                },
                success: function (response) {
                    //alert("Saved Successfully");
                    ViewTempJournalInformation();
                }
            });

            return false; // if it's a link to prevent post
        }

    }

    function ViewTempJournalInformation() {
        $("#JournalInfo").html("");
        //alert("Hi");

        $.ajax({
            type: "GET",
            url: '@Url.Action("GetTempJournalInformation", "Voucher")',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var summation = 0;
                for (var i = 0; i < data.length; i++) {
                    summation = summation + data[i].Amounts;
                   
                }
                $.each(data, function (key, value) {

                    var row = $("<tr><td style='border: 1px solid black; padding: 5px 10px;'>" + value.PurposeName + "</td><td style='border: 1px solid black; padding: 5px 10px;'>" + value.PurposeCode + "</td><td style='border: 1px solid black; padding: 5px 10px;'>" + value.DebitOrCredit + "</td><td style='border: 1px solid black; padding: 5px 10px;' class='text-right'><input type='hidden' name='product_Id_" + value.BankBranchId + "' value='" + value.BankBranchId + "'> " + value.Amounts + "</td><td style='border: 1px solid black; padding: 5px 10px;' class='text-center'><button id='" + value.PurposeCode + "' type='button' onclick='RemoveJournalInfo(this)' class='btn btn-default btn-sm'><i class='fa fa-times' style='color:red;'></i></button>" + "</td></tr>");
                    $("#JournalInfo").append(row);
                });
                $("#SummationOfDebitAndCredit").val(summation.toFixed(0));
            }
        });
    }


    function formatDate(chequedate) {

        var month = new Array();
        month[0] = "January";
        month[1] = "February";
        month[2] = "March";
        month[3] = "April";
        month[4] = "May";
        month[5] = "June";
        month[6] = "July";
        month[7] = "August";
        month[8] = "September";
        month[9] = "October";
        month[10] = "November";
        month[11] = "December";

        var dateString = chequedate.substr(6);
        var currentTime = new Date(parseInt(dateString));
        var mm = currentTime.getMonth();
        var day = currentTime.getDate();
        var year = currentTime.getFullYear();
        var date = day + "-" + month[mm] + "-" + year;
        return date// Function returns the date
    }

    function RemoveJournalInfo(btnClicked) {
   

        if (confirm("Are you sure to remove this journal info ??")) {
            //alert(btnClicked);
            $("#JournalInfoToRemove").val(btnClicked.id);
            //alert(btnClicked.id);
            //alert(btnClicked["delBtn"]);
            var $form = $(btnClicked).parents('form');
            $.ajax({
                type: "POST",
                url: '@Url.Action("RemoveJournalVoucher")',
                data: $form.serialize(),
                error: function (xhr, status, error) {
                    //do something about the error
                },
                success: function (response) {
                    ViewTempJournalInformation();
                }
            });
        } else {
            return false;// if it's a link to prevent post
        }

        return false;// if it's a link to prevent post

    }


    function SaveJournalVoucher(btnClicked) {

        var summationDrCr = parseInt($("#SummationOfDebitAndCredit").val());
          if (summationDrCr!=0) {
            alert("Debit and Caredit amount not same!!");
        }
        else {
            if (confirm("Are you sure to Save this Journal info ??")) {

                var $form = $(btnClicked).parents('form');
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SaveJournalVoucher")',
                    data: $form.serialize(),
                    error: function (xhr, status, error) {
                        //do something about the error
                    },
                    success: function (response) {
                        var result = response.Message;
                        $('#message').html(response).fadeIn('slow');
                        $('#message').html(result).fadeIn('slow') //also show a success message
                        $('#message').delay(5000).fadeOut('slow');
                        setTimeout(function () { ReloadPage(); }, 6000);

                    }
                });
            } else {
                return false;// if it's a link to prevent post
            }

            return false;// if it's a link to prevent post
        }

       

      }
    function ReloadPage() {
        location.reload();
    }
</script>

@* Date picker*@
<script>
    $(function () {

        $("#ReceiveDate").datepicker({ dateFormat: 'dd-MM-yy' });
        $("#Date").datepicker({ dateFormat: 'dd-MM-yy' });
    });
</script>