@using NblClassLibrary.BLL
@model NblClassLibrary.Models.ChequeDetails
@{
    ViewBag.Title = "Receivable Details";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
    var date = DateTime.Now.Date.ToString("dd-MMMM-yyyy");
    var chequedate = Model.ChequeDate.ToString("dd-MMMM-yyyy");
    ClientManager clientManager = new ClientManager();
    var client = clientManager.GetClientById(Model.ClientId);
}

<section class="content">
    <h3 class="text-center text-green headingStyle">Receivable Details</h3>
    <hr />

    @using (Html.BeginForm())
    {
        <div class="form-horizontal">

            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        
                        <div class="col-md-9">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Client Name</label>
                                <div class="col-md-8">
                                    <input type="text" value="@client.ClientName" class="form-control" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Code</label>
                                <div class="col-md-9">
                                    <input type="text" value="@client.SubSubSubAccountCode" class="form-control" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Source Bank Name</label>
                        <div class="col-md-9">
                            <input type="text" value="@Model.SourceBankName" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Account No</label>
                        <div class="col-md-9">
                            <input type="text" value="@Model.BankAccountNo" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Cheque No</label>
                        <div class="col-md-9">
                            <input type="text" value="@Model.ChequeNo" class="form-control" readonly />
                        </div>
                    </div>
                   
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-6 control-label">Cheque Amount</label>
                                <div class="col-md-6">
                                    <input type="text" value="@Model.ChequeAmount" class="form-control" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Cheque Date</label>
                                <div class="col-md-8">
                                    <input type="text" id="ChequeDate" name="ChequeDate" value="@chequedate" class="form-control" readonly />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    @if (Model.PaymentTypeId == 3)
                    {   
                        <div class="form-group">
                        <label class="col-md-3 control-label">DBBL Mobile Acc No</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="DbblMobileAccountNo" name="DbblMobileAccountNo" placeholder="Type DBBL mobile Account No here!!" />
                        </div>
                    </div>
                    }
                    else if (Model.PaymentTypeId == 2)
                    {
                        <div class="form-group">
                            <label class="col-md-3 control-label">bKash Mobile Acc No</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="bKashMobileAccountNo" name="bKashMobileAccountNo" placeholder="Type bKash mobile Account No here!!" />
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label class="col-md-3 control-label">Receive Bank Name</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="BankName" name="BankName" placeholder="Type bank name here!!" />
                                <input type="hidden" id="BankId" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Branch Name</label>
                            <div class="col-md-9">
                                <select id="BankBranchId" name="BankBranchId" class="form-control">
                                    <option value="">--Select--</option>
                                </select>
                            </div>
                        </div>


                    }
                    <div class="form-group">
                        <label class="col-md-3 control-label">Branch Code</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="BankCode" name="BankCode" readonly />
                        </div>
                    </div>
                   
                    <div class="form-group">
                        <label class="col-md-3 control-label">Date</label>
                        <div class="col-md-9">
                            <input type="text" id="ReceiveDate" name="ReceiveDate" value="@date" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3"></label>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.ActionLink("Back to List", "ActiveReceivable", "Account", new { area = "AccountExecutive" }, new { @class = "btn btn-danger btn-block" })
                                </div>
                                <div class="col-md-6"><input type="submit" value="Save" class="btn btn-success btn-block" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
          
        </div>
    }
</section>


@section Scripts
{
    @*Bank Name Auto Complete*@
    <script type="text/javascript">
        $(function () {
            $("#BankName").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Common/BankNameAutoComplete/',
                        data: "{ 'prefix': '" + request.term + "'}",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data,
                                function(item) {
                                    return item;
                                }));
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    $("#BankId").val(i.item.val);
                    $("#BankBranchId").empty();
                    $("#BankCode").val('');
                    $("#BankBranchId").append('<option value="">--Select--</option>');
                    var bId = i.item.val;
                    var json = { bankId: bId };

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetAllBankBranchByBankId", "Common",new { area=""})',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(json),
                        success: function (data) {

                            $.each(data, function (key, value) {

                                $("#BankBranchId").append('<option value=' + value.BankBranchId + '>' + value.BankBranchName + '</option>');

                            });
                        }
                    });
                },
                minLength: 1
            });
        });
    </script>

    <script>
    $("#BankBranchId").change(function () {
        var bankBranchId = $(this).val();
        $("#BankCode").val('');

        var json = { bankBranchId: bankBranchId };

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetBankBranchById", "Common",new { area=""})',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(json),
            success: function (data) {
                var bankCode = data.BankBranchAccountCode;
                $("#BankCode").val(bankCode);
            }
        });

    });


    </script>
    <script>
    $(function () {

        $("#ReceiveDate").datepicker({ dateFormat: 'dd-MM-yy' });
        $("#ChequeDate").datepicker({ dateFormat: 'dd-MM-yy' });
    });
    </script>


    @* DBBL Mobile Bank Account Name Auto Complete*@
    <script type="text/javascript">
        $(function () {
            $("#DbblMobileAccountNo").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Common/DbblMobileBankingAccountAutoComplete/',
                        data: "{ 'prefix': '" + request.term + "'}",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data,
                                function(item) {
                                    return item;
                                }));
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    $("#BankCode").val(i.item.val);

                },
                minLength: 1
            });
        });
    </script>


    @* bKash Mobile Bank Account Name Auto Complete*@
    <script type="text/javascript">
        $(function () {
            $("#bKashMobileAccountNo").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Common/BikashMobileBankingAccountAutoComplete/',
                        data: "{ 'prefix': '" + request.term + "'}",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data,
                                function(item) {
                                    return item;
                                }));
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    $("#BankCode").val(i.item.val);

                },
                minLength: 1
            });
        });
    </script>
}
