@*Sales Menu*@

<ul class="sidebar-menu" data-widget="tree" style="font-size: 16px; font-weight: bolder;">
    <li class="treeview">
        <a href="#" style="font-weight: bolder">
            <i class="fa fa-user"></i>
            <span>Client</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            @*<li>@Html.ActionLink(" Add New Client", "AddNewClient", "Client", new { area = "Sales" }, new { @class = "fa fa-plus" })</li>*@
            <li>@Html.ActionLink("  Client List", "All", "Client", new { area = "Sales" }, new { @class = "fa fa-list", style = "font-weight: bolder" })</li>

        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-shopping-cart"></i>
            <span>Orders</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">

            @*<li>@Html.ActionLink(" Test", "Test", "Home", new { area = "Sales" }, new { @class = "fa fa-plus", style = "font-weight: bolder" })</li>*@
            <li>@Html.ActionLink(" Sales Order", "Order", "Order", new { area = "Sales" }, new { @class = "fa fa-plus", style = "font-weight: bolder" })</li>
            <li>@Html.ActionLink(" Latest Orders", "LatestOrders", "Order", new { area = "Sales" }, new { @class = "fa fa-list", style = "font-weight: bolder" })</li>
            <li>@Html.ActionLink(" All Orders", "All", "Order", new { area = "Sales" }, new { @class = "fa fa-list", style = "font-weight: bolder" })</li>
            @*<li>@Html.ActionLink(" Delivered Sales", "ViewDeliveredOrderList", "Sales", new { area = "Sales" }, new { @class = "fa fa-list" })</li>*@
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-shopping-cart"></i>
            <span>Order Slips</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">

            <li>@Html.ActionLink(" Order List (2Day)", "PendingOrders", "Order", new { area = "Sales" }, new { @class = "fa fa-list", style = "font-weight: bolder" })
            </li>

        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-product-hunt"></i>
            <span>Products</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            @*<li>@Html.ActionLink("  Store", "Index", "Product", new { area = "Sales" }, new { @class = "fa fa-list" })</li>*@
            <li>@Html.ActionLink(" Transfer", "Transaction", "Product", new { area = "Sales" }, new { @class = "fa fa-pencil", style = "font-weight: bolder" })</li>
            <li>@Html.ActionLink(" Receive", "Receive", "Product", new { area = "Sales" }, new { @class = "fa fa-pencil", style = "font-weight: bolder" })</li>
           
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-book"></i> <span>Reports</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-circle-o"></i> Sales
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>@Html.ActionLink(" All", "Report", "Reoprt", new { area = "Sales" }, new { @class = "fa fa-file", style = "font-weight: bolder" })</li>
                    <li><a href="#"><i class="fa fa-file"></i>Monthly Reports</a></li>
                    <li><a href="#"><i class="fa fa-file"></i> Yearly Reports</a></li>

                    <li><a href="~/Reports/WebForm1.aspx" target="_blank">View Report</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-circle-o"></i> Clients
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>@Html.ActionLink(" All", "ViewAllClient", "Reoprt", new { area = "Sales" }, new { @class = "fa fa-file", style = "font-weight: bolder" })</li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-circle-o"></i> Level Two
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-circle-o"></i> Stocks
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-circle-o"></i> Level Two
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-eye"></i>
            <span>View/Show</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>@Html.ActionLink("  Branch List", "ViewBranch", "Home", new { area = "Sales" }, new { @class = "fa fa-list", style = "font-weight: bolder" })</li>
            <li>@Html.ActionLink(" Product In Stock", "Stock", "Product", new { area = "Sales" }, new { @class = "fa fa-list", style = "font-weight: bolder" })</li>
        </ul>
    </li>
</ul>

