
@using NblClassLibrary.Models.ViewModels
@model ViewOrder
@{

var aClient =Model.Client;
}

<div class="row">

    <div class="col-md-4">

        <section>
            <img src="~/@aClient.ClientImage" height="120" width="100" style="float:left;margin-right:20px" title="@aClient.ClientName" />
            <address>
                @aClient.CommercialName<br/>
                @aClient.Address<br/>Phone :@aClient.Phone<br/>E-mail :@aClient.Email<br/>Client Code: @aClient.SubSubSubAccountCode
            </address>

        </section>


    </div>
    <div class="col-md-4">
        Outstanding: @aClient.Outstanding<br/>
        Credit Limit: @aClient.CreditLimit<br/>
        Max Credit Days:@aClient.MaxCreditDay<br/>
    </div>
    <div class="col-md-4">
        Order Slip No :<i>@Model.OrderSlipNo</i><br />
        Order Date : <i>@Model.SysDate.ToString("F")</i>
    </div>
</div>
<hr />
