@using NblClassLibrary.BLL
@model IEnumerable<NblClassLibrary.Models.ViewModels.ViewOrder>
@{
    ViewBag.Title =ViewBag.Heading;
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}

<section class="content">
    <h3 class="headingStyle text-center text-green">@ViewBag.Heading</h3>
    <table id="table_Order_list" class="display table table-bordered" style="border: 1px solid black">

        <thead>
        <tr>
            <th>Order Slip No</th>
            <th>Client Info</th>
            <th class="text-center">Order Date</th>
            <th class="text-right">Amount (&#2547;)</th>
            <th class="text-right">Vat (&#2547;)</th>
            <th class="text-right">Discount (&#2547;)</th>
            <th class="text-right">S.D (&#2547;)</th>
            <th class="text-right">Net Amount (&#2547;)</th>
            <th class="text-center">Status</th>
            <th class="text-center">Action</th>
        </tr>
        </thead>

        <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>@item.OrderSlipNo</td>
                <td>
                    @{


                        ClientManager clientManager = new ClientManager();
                        var aClient = clientManager.GetClientById(item.ClientId);
                        @Html.Raw(aClient.GetBasicInformation())
                    }
                </td>
                <td class="text-center">

                    @item.SysDate.ToShortTimeString(),@item.SysDate.ToString("dd-MMM-yyyy")
                </td>
                <td class="text-right">
                    @(item.Amounts - item.Vat)
                </td>
                <td class="text-right">
                    @item.Vat
                </td>
                <td class="text-right">
                    @item.Discount
                </td>
                <td class="text-right">
                    @item.SpecialDiscount
                </td>
                <td class="text-right">
                    @item.NetAmounts
                </td>
                <td class="text-center">
                    @{
                        <label> </label>

                        switch (item.Status)
                        {
                            case 0:
                                <label class="text-danger"><i class="fa fa-spinner"></i> @item.StatusDescription</label>
                                break;
                            case 1:
                                <label class="text-success"><i class="fa fa-spinner"></i> @item.StatusDescription</label>
                                break;
                            case 2:
                                <label class="text-success"><i class="fa fa-spinner"></i> @item.StatusDescription</label>
                                break;
                            case 3:
                                <label class="text-orange"> @item.StatusDescription</label>
                                break;
                            case 4:<label class="text-green"><i class="fa fa-check-circle-o"></i> @item.StatusDescription</label>
                                break;
                            default:
                                <label style="color: red;" title="@item.ResonOfCancel"><i class="fa fa-times"></i> @item.StatusDescription</label>
                                break;
                        }
                    }

                </td>
                <td class="text-center">
                    @Html.ActionLink(" Details", "OrderDetails", "Home", new {id = item.OrderId}, new {@class = "fa fa-eye"})
                </td>
            </tr>
        }

        </tbody>
        <tfoot>
        <tr>
            <th>Order Slip No</th>
            <th>Client Info</th>
            <th class="text-center">Order Date</th>
            <th class="text-right">Amount (&#2547;)</th>
            <th class="text-right">Vat (&#2547;)</th>
            <th class="text-right">Discount (&#2547;)</th>
            <th class="text-right">S.D (&#2547;)</th>
            <th class="text-right">Net Amount (&#2547;)</th>
            <th class="text-center">Status</th>
            <th class="text-center">Action</th>
        </tr>
        </tfoot>
    </table>
</section>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
<script>

    $('#table_Order_list').DataTable({
                            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "order": [[1, "desc"]]
    });

</script>
