  @model IEnumerable<NblClassLibrary.Models.Department>
<h3 class="text-center text-green headingStyle">Departments</h3>
<table id="table_Departments" class="display table table-bordered" style="border:1px solid black"> 
    <thead>
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.DepartmentCode)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.DepartmentName)
        </th>
        <th class="text-center">
            Total Employee
        </th> 
    </tr>
    </thead>

    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td class="text-center">
                @item.Employees.ToList().Count
            </td>
        </tr>
    }
    </tbody>

</table>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
<script>

    $('#table_Departments').DataTable({
        "lengthMenu": [[15, 25, 50, -1], [15, 25, 50, "All"]]
    });

</script>

