@model ViewEmployee
@{
    ViewBag.Title = "Employee Profile";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}
<!-- Main content -->
<section class="content" style="background-color: aliceblue;">
    <h3 class="text-center text-green headingStyle">Employee Profile</h3>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" src="~/@Model.EmployeeImage" alt="Employee Image" title="@Model.EmployeeName">
                    <br/>
                    <img class="profile-user-img img-responsive" src="~/@Model.EmployeeSignature" alt="Employee Signature ">
                    <p class="text-muted text-center">@Model.DesignationName</p>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Joining Date</b> <a class="pull-right">@Model.JoiningDate.ToString("D")</a>
                        </li>
                    </ul>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#personal_details" data-toggle="tab">Personal Details</a></li>
                    <li><a href="#contact_details" data-toggle="tab">Contact Details</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="personal_details">
                        <!-- Post -->
                        <div class="post">

                            <p>@Model.Notes</p>
                        </div>
                        <!-- /.post -->

                    </div>

                    <div class="tab-pane" id="contact_details">
                        <p class="text-muted">
                            <strong>
                                Phone : @Model.Phone<br/>
                                Alternate Phone: @Model.AlternatePhone<br/>
                                E-mail : @Model.Email<br/>
                                NID : @Model.NationalIdNo<br/>
                            </strong>
                            <hr>
                            <strong><i class="fa fa-map-marker margin-r-5"></i> Address</strong>
                            <p class="text-muted">@Model.PresentAddress</p>
                        </p>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
            <div>
                @Html.ActionLink("Back to List", "ViewEmployee", "Home",null, new {@class = "btn btn-info"})
            </div>
        </div>

        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
