@model IEnumerable<NblClassLibrary.Models.ViewModels.ViewOrder>
@using NblClassLibrary.BLL
@{
    UserManager userManager = new UserManager();
}

<h3 class="text-center text-green headingStyle">Pending Orders</h3>
<table id="table_pending_order_list" class="table table-bordered" style="border:1px solid black">
    <thead>
        <tr>
            <th>Client Info</th>
            <th>Order Slip No</th>
            <th class="text-right">Amount  (&#2547;)</th>
            <th class="text-right">Vat (&#2547;)</th>
            <th class="text-right">Discount (&#2547;)</th>
            <th class="text-right">S.D (&#2547;)</th>
            <th class="text-right">Net Amount (&#2547;)</th>
            <th class="text-center">Approved by NSM At</th>
            <th class="text-center">Order At</th>
            <th class="text-center">Order By</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
            {
                var orderBy = userManager.GetUserInformationByUserId(item.UserId);
            <tr>
                <td>
                    @Html.Raw(item.Client.GetBasicInformation())
                </td>
                <td>@item.OrderSlipNo</td>
                <td class="text-right">@(item.Amounts-item.Vat)</td>
                <td class="text-right">@item.Vat</td>
                <td class="text-right">@item.Discount</td>
                <td class="text-right">@item.SpecialDiscount</td>
                <td class="text-right">@item.NetAmounts</td>
                <td class="text-center">

                    @item.ApprovedByNsmDateTime.ToShortTimeString(), @item.ApprovedByNsmDateTime.ToString("dd-MMM-yyyy")
                </td>
                <td class="text-center">

                    @item.SysDate.ToShortTimeString(), @item.SysDate.ToString("dd-MMM-yyyy")
                </td>
                <td>@Html.Raw(orderBy.GetBasicInfo())</td>
                <td class="text-center">
                    @Html.ActionLink(" Cancel", "Cancel", "Order", new { id = item.OrderId }, new { @class = "fa fa-trash", style = "color:red;" }) &nbsp;|
                    @Html.ActionLink(" View Details", "Approve", "Order", new { area = "Admin", id = item.OrderId }, new { @class = "fa fa-eye" })
                </td>
            </tr>
        }

    </tbody>
    <tfoot>
        <tr>
            <th>Client Info</th>
            <th>Order Slip No</th>
            <th class="text-right">Amount  (&#2547;)</th>
            <th class="text-right">Vat (&#2547;)</th>
            <th class="text-right">Discount (&#2547;)</th>
            <th class="text-right">S.D (&#2547;)</th>
            <th class="text-right">Net Amount (&#2547;)</th>
            <th class="text-center">Approved by NSM At</th>
            <th class="text-center">Order At</th>
            <th class="text-center">Order By</th>
            <th class="text-center">Action</th>

        </tr>
    </tfoot>
</table>

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
<script>

        $('#table_pending_order_list').DataTable({
        "lengthMenu": [[15, 30, 50, -1], [15, 30, 50, "All"]],
        "oLanguage": {
            "sEmptyTable": "<h4 style='color:green;font-weight:bolder;'>There is no orders to <i>Approve</i> right now !</h4>"
        }
    });

</script>
