@model IEnumerable<NblClassLibrary.Models.Delivery>
@using NblClassLibrary.BLL
@{
    ViewBag.Title = "Delevered Orders";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
    OrderManager orderManager = new OrderManager();
    ClientManager clientManager = new ClientManager();
}


<section class="content">
    <p class="text-center text-green headingStyle">All Delivered orders</p>
    <table id="table_Order_list" class="table table-bordered" style="border:1px solid black">
        <thead>
            <tr>
                <th>Client Info</th>
                <th>Transportation</th>
                <th>Delivery Ref</th>
                <th class="text-center">Delivery Date</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model)
            {
                var order = orderManager.GetOrderInfoByTransactionRef(item.TransactionRef);
                var aClient = clientManager.GetClientById(order.ClientId);
                <tr>
                    <td>@Html.Raw(aClient.GetBasicInformation())</td>
                   <td>
                       @Html.Raw(item.Transport.GetFullInformation())
                   </td>
                    <td>@item.DeliveryRef</td>

                    <td class="text-center">

                        @item.SysDateTime.ToString("F")
                    </td>
                    
                    <td class="text-center">
                        @Html.ActionLink(" Preview & Print", "Calan", new { id = item.DeliveryId }, new { target = "_blank", @class="fa fa-eye" })
                    </td>
                </tr>
            }

        </tbody>
        <tfoot>
            <tr>
                <th>Client Info</th>
                <th>Transportation</th>
                <th>Delivery Ref</th>
                <th class="text-center">Delivery Date</th>
                <th class="text-center">Action</th>
            </tr>
        </tfoot>
    </table>

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>


    <script>

        $('#table_Order_list').DataTable({
            "lengthMenu": [[5, 10, 30, -1], [5, 10, 30, "All"]],
            "order": [[2, "desc"]]
        });

    </script>

</section>
