
@*Accounts Menu *@
<ul class="sidebar-menu" data-widget="tree" style="font-weight: bolder;font-size: 16px">
    <li class="treeview">
        <a href="#">
            <i class="fa fa-money"></i>
            <span>Account</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>@Html.ActionLink(" Receivable", "Receivable", "Account", new { area = "Accounts" }, new { @class = "fa fa-file",style = "font-weight: bolder;" })</li>
            <li>@Html.ActionLink(" Credit/Receive Voucher", "CreditVoucher", "Voucher", new { area = "Accounts" }, new { @class = "fa fa-file", style = "font-weight: bolder;" })</li>
            <li>@Html.ActionLink(" Debit/Payment Voucher", "DebitVoucher", "Voucher", new { area = "Accounts" }, new { @class = "fa fa-file", style = "font-weight: bolder;" })</li>
            <li>@Html.ActionLink(" Cheque Payment Voucher", "ChequePaymentVoucher", "Voucher", new { area = "Accounts" }, new { @class = "fa fa-file", style = "font-weight: bolder;" })</li>
            <li>@Html.ActionLink(" Cheque Receive Voucher", "ChequeReceiveVoucher", "Voucher", new { area = "Accounts" }, new { @class = "fa fa-file", style = "font-weight: bolder;" })</li>
            <li>@Html.ActionLink(" Journal Voucher", "JournalVoucher", "Voucher", new { area = "Accounts" }, new { @class = "fa fa-file", style = "font-weight: bolder;" })</li>
            @*<li>@Html.ActionLink(" Payable", "Payable", "Account", new { area = "Accounts" }, new { @class = "fa fa-file", style = "font-weight: bolder;" })</li>*@
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-book"></i> <span>Reports</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-circle-o"></i> Sales
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-circle-o"></i> Level Two
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-circle-o"></i> Clients
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-circle-o"></i> Level Two
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>


    <li class="treeview">
        <a href="#">
            <i class="fa fa-eye"></i>
            <span>View/Show</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>@Html.ActionLink("  Employees", "ViewEmployee", "Home", new { area = "Accounts" }, new { @class = "fa fa-list", style = "font-weight: bolder;" })</li>
            <li>@Html.ActionLink(" Clients", "ViewClient", "Home", new { area = "Accounts" }, new { @class = "fa fa-list", style = "font-weight: bolder;" })</li>
            <li>@Html.ActionLink(" Products", "ViewProduct", "Home", new { area = "Accounts" }, new { @class = "fa fa-list", style = "font-weight: bolder;" })</li>
            <li>@Html.ActionLink(" Branch List", "ViewBranch", "Home", new { area = "Accounts" }, new { @class = "fa fa-list", style = "font-weight: bolder;" })</li>
            <li>@Html.ActionLink(" Journals", "ViewJournal", "Voucher", new { area = "Accounts" }, new { @class = "fa fa-list", style = "font-weight: bolder;" })</li>
            <li>@Html.ActionLink(" All Vouchers", "Vouchers", "Voucher", new { area = "Accounts" }, new { @class = "fa fa-list", style = "font-weight: bolder;" })</li>
            <li>@Html.ActionLink(" Pending Vouchers", "PendingVouchers", "Voucher", new { area = "Accounts" }, new { @class = "fa fa-list", style = "font-weight: bolder;" })</li>
            @*<li>@Html.ActionLink(" Credit Vouchers", "ViewCreditVoucher", "Voucher", new { area = "Accounts" }, new { @class = "fa fa-list", style = "font-weight: bolder;" })</li>
            <li>@Html.ActionLink(" Debit Vouchers", "ViewDebitVoucher", "Voucher", new { area = "Accounts" }, new { @class = "fa fa-list", style = "font-weight: bolder;" })</li>
            <li>@Html.ActionLink(" Cheque Payment Vouchers", "ViewChequePaymentVoucher", "Voucher", new { area = "Accounts" }, new { @class = "fa fa-list", style = "font-weight: bolder;" })</li>
            <li>@Html.ActionLink(" Cheque Receive Vouchers", "ViewChequeReceiveVoucher", "Voucher", new { area = "Accounts" }, new { @class = "fa fa-list", style = "font-weight: bolder;" })</li>*@
        </ul>
    </li>
</ul>

